.body {
    background: url('../../../public/images/back.webp'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}