/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}

nav ul { padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }

nav ul li { 
    display: inline; 
}

nav ul li a { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    background-color:#EDEDED; 
    color: #333; 
    text-decoration: none; 
    border-bottom:3px solid #EDEDED; 
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}