/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}

.logo {
    font-size: 30px;
    padding: 7.5px 10px 7.5px 0;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.menu ul { 
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }

.menu ul li { 
    display: inline; 
}

.menu ul li a { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    background-color:#EDEDED; 
    color: #333; 
    text-decoration: none; 
    border-bottom:3px solid #EDEDED; 
}
