/* Basic styling */
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer img{
    max-width:50px;
    max-height:30px;
}

